/*
 * Base button styles
 * Can use added classes to style on top of
 */
.btn {
    background: {
        color: $pink;
    }
    border: 0;
    border-radius: 3rem;
    color: $white;
    display: inline-block;
    font: {
        size: .75em;
        weight: 600;
    }
    min-width: 167px;
    padding: 1.5rem 3rem;
    text-align: center;
    text-transform: uppercase;
}