/*
 * .clients-showcase
 */
.clients-showcase {
    /*
     * Position above the slider
     */
    .glide__arrows {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        padding: {
            left: $desktop-side-padding;
            right: $desktop-side-padding;
        }
        position: absolute;
        right: 0;
        top: 0;
        @media (min-width: $tablet-portrait-start) {
            transform: translateY(-100%);
        }
    }
    /*
     * Make static and let parent do the positioning
     * Make into light purple circle
     */
    .glide__arrow {
        align-items: center;
        background: {
            color: $light-purple;
        }
        border: 0;
        border-radius: 100%;
        display: flex;
        font: {
            size: 1.5em;
        }
        height: 3rem;
        justify-content: center;
        margin: {
            left: 5px;
        }
        opacity: .7;
        position: static;
        transform: none;
        transition: opacity .6s $easeInOutSine;
        width: 3rem;
        &:hover {
            opacity: 1;
        }
    }
    /*
     * .clients-showcase__slider
     */
    &__slider {
        padding: {
            left: $desktop-side-padding;
            top: $desktop-side-padding*2; //To Account for arrows
        }
        width: auto;
        @media (min-width: $tablet-portrait-start) {
            padding: {
                top: 0;
            }
        }
        @media (min-width: $laptop-start) {
            padding: {
                left: 10vw;
            }
        }
        h3 {
            margin: {
                top: 0;
            }
        }
        img {
            border-radius: 5px;
            box-shadow: 0 0 5px rgba($black,.2);
            height: auto;
            width: 100%;
        }
    }
    /*
     * .clients-showcase__footer
     * Contains a button that needs to just be centered in viewport
     */
    &__footer {
        align-items: center;
        display: flex;
        margin: {
            top: 35px; // Half section padding
        }
        justify-content: center;
    }
}