/*
 * .page-footer
 */
.page-footer {
    $blockWidth: 169px; //Set block width for page-footer__main blocks
    background: {
        color: $darkest-purple;
    }
    color: $white;
    padding: {
        bottom: 70px;
        top: 70px;
    }
    position: relative;
    /*
     * .page-footer__main
     * Flex container incase we need to fix items to x side
     * stack on mobile, row on tablet / desktop
     */
    &__main {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (min-width: $tablet-portrait-start) {
            flex-direction: row;
        }
        /*
         * .page-footer__main:not(:last-child)
         * If not last child add some margin bottom to give some breathing space
         */
        &:not(:last-child) {
            margin: {
                bottom: 70px;
            }
        }
        /*
         * .page-footer__main-left
         * margin hack to stick it as far left as possible
         * Flex to keep items on one line
         * stack on mobile, row on tablet / desktop
         */
        &-left {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: {
                left: 0;
                right: auto;
            }
            width: 100%;
            @media (min-width: $tablet-portrait-start) {
                flex-direction: row;
                width: auto;
            }
        }
        /*
         * .page-footer__main-right
         * margin hack to stick it as far right as possible
         * max width to 169px to match mockup
         */
        &-right {
            margin: {
                left: auto;
                right: 0;
                top: 70px;
            }
            text-align: center;
            width: 100%;
            @media (min-width: $tablet-portrait-start) {
                margin: {
                    top: 0;
                }
                text-align: left;
                width: $blockWidth;
            }
            p {
                font: {
                    size: .75em; //Set font size to 12px;
                }
                margin: {
                    top: 3rem;
                }
            }
        }
    }
    /*
     * .page-footer__bottom
     */
    &__bottom {
        align-items: center;
        display: flex;
    }
    /*
     * .page-footer__links
     * Footer nav wrappers
     */
    &__links {
        text-align: center;
        width: 100%;
        @media (min-width: $tablet-portrait-start) {
            text-align: left;
            width: $blockWidth;
        }
        /*
         * .page-footer__links:not(:first-child)
         * If not first child put margin left to space element out
         */
        &:not(:first-child) {
            @media (min-width: $tablet-portrait-start) {
                margin: {
                    left: 1em;
                }
            }
        }
        h3 {
            color: $white;
        }
        ul {
            list-style: none;
            padding: 0;
            a {
                color: $light-purple;
                font: {
                    size: .875em; //font-size 14px;
                }
            }
        }
    }
    /*
     * .page-footer__social-links
     */
    &__social-links {
        display: inline-block;
        a {
            display: inline-block;
            margin: {
                left: .5em;
                right: .5em;
            }
            padding: {
                bottom: 1em;
                top: 1em;
            }
        }
        svg {
            height: 1em;
            width: auto;
        }
    }
    /*
     * .page-footer__copyright
     */
    &__copyright {
        color: $light-purple;
        display: inline-block;
        font: {
            size: .75em;
        }
        text-transform: uppercase;
        /*
         * .page-footer__copyright:not(:first-child)
         */
        &:not(:first-child) {
            margin: {
                left: 2rem;
            }
        }
    }
}