/*
 * .page-header
 * Starts as a static header and on scroll sticks to the top of the page
 * Flex box container to help with aligning items
 */
.page-header {
    align-items: center;
    background: {
        color: transparent;
    }
    color: $white;
    display: flex;
    height: $header-height;
    left: 0;
    padding: 0 $desktop-side-padding;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    /*
     * .page-header:before
     * Adds background gradient when page scrolls from top
     */
    &:before {
        background: {
            color: $blue;
            image: linear-gradient(90deg,$purple,$blue);
        }
        bottom: 0;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
	    transition: opacity 0.6s $easeInOutSine;
        right: 0;
        width: 100%;
        /*
         * .headroom--not-top.page-header:before
         * When page scrolled show background
         */
        @at-root .headroom--not-top#{&} {
            opacity: 1;
        }
    }
    /*
     * .page-header__logo
     * fix width to help items to be in a fixed position on bigger screen sizes
     * Align text to the left to make it flush to the container
     */
    &__logo {
        text-align: left;
        position: relative; //Allows to show on top of background
        width: 200px; //Set a base width
        /* 
         * .page-header__logo img
         * set max width so it does not overlap with nav
         */
        img {
            height: auto;
            max-width: 100%;
        }
    }
    /*
     * .page-header__nav
     * Width is fluid to fill the space
     * Flex container, stretch to make dropdown easier in future
     */
    &__nav {
        align-items: stretch;
        align-self: stretch;
        display: flex;
        flex: 1;
        justify-content: center;
        position: relative; //Allows to show on top of background
        > ul {
            align-items: flex-start; //Align items to top left, allow them to position themselves
            background: {
                color: $dark-purple;
            }
            border-bottom-right-radius: 100%;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start; //Align items to top left, allow them to position themselves
            list-style: none;
            left: 0;
            opacity: 0;
            margin: 0;
            padding: 0;
            position: fixed; //Allows to be on top of all elements no matter where they are on the screen.
            right: 0;
            transform: scale(0);
            transform-origin: left top;
            transition: transform #{$easeInOutSine} .3s, opacity #{$easeInOutSine} .3s, border-bottom-right-radius #{$easeInOutSine} .3s;
            top: 0;
            pointer-events: none;
            @media (min-width: $tablet-landscape-start) {
                align-items: stretch;
                background: {
                    color: transparent;
                }
                border-bottom-right-radius: 0;
                flex-direction: row;
                opacity: 1;
                justify-content: center;
                position: static;
                pointer-events: auto;
                transform: none;
            }
            /*
             * .page-header__nav > ul.is-active
             */
            &.is-active {
                border-radius: 0;
                opacity: 1;
                pointer-events: auto;
                transform: scale(1);
            }
            > li {
                margin: {
                    top: 0; // Remove default li margin
                }
                width: 100%;
                &:first-child {
                    @media (max-width: $before-tablet-landscape) {
                        margin: {
                            top: auto; //Allows the nav to be in the middle of the mobile menu
                        }
                    }
                }
                &:last-child {
                    @media (max-width: $before-tablet-landscape) {
                        margin: {
                            bottom: auto; //Allows the nav to be in the middle of the mobile menu
                        }
                    }
                }
            }
            li {
                align-items: stretch;
                display: flex;
                justify-content: center;
                a {
                    align-items: center;
                    color: inherit;
                    display: flex;
                    font: {
                        size: .875em; //Set font size to 14px;
                    }
                    justify-content: center;
                    padding: 1rem;
                    width: 100%;
                }
            }
        }
        /*
         * .page-header__nav-toggle
         */
        &-toggle {
            align-items: center;
            display: flex;
            margin: {
                left: auto;
                right: 0;
            }
            padding: 0;
            z-index: 2;
            @media (min-width: $tablet-landscape-start) {
                display: none;
            }
            .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before,&.is-active .hamburger-inner, &.is-active .hamburger-inner:after, &.is-active .hamburger-inner:before {
                background: {
                    color: $light-purple; //Colour the lines the light purple colour
                }
            }
            /*
             * .page-header__nav-toggle
             */
            &-text {
                margin: {
                    left: 1em; //Spacing next to hamburger
                }
            }
        }
    }
    /*
     * .page-header__cta
     * fix width to help items to be in a fixed position on bigger screen sizes
     * Align text to the right to make it flush to the container
     */
    &__cta {
        display: none;
        position: relative; //Allows to show on top of background
        text-align: right;
        width: 169px; //Set a base width
        @media (min-width: $tablet-portrait-start) {
            display: block;
        }
        @media (min-width: $tablet-landscape-start) {
            width: 200px; //Width to match logo
        }
    }
}

/*
 * .page-top-cta-row
 * Visible at the top of the page, meant to be small to not over shadow the page, but bigger enough to direct users to buy tickets
 * Header scrolls over the top on page scroll
 */
.page-top-cta-row {
    align-items: center;
    background: {
        color: $dark-purple;
    }
    color: $white;
    display: flex;
    height: $desktop-header-cta-height;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    p {
        font: {
            size: .75em; //Set to 12px
        }
    }
    a {
        color: $pink;
        font: {
            weight: 600;
        }
        margin: {
            left: 1em; //Bit of spacing to seperate from lead text
        }
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}