/*
 * .page-hero
 * has background image that is cover so will fit all screen resolutions easily
 * If no image is supplied fallback to dark purple background
 * Height is 100vh - minus top bar to fill the screen on load
 * Flex column container to make it easier for sub elements to align themselves around the container
 */
.page-hero {
    align-items: flex-start;
    background: {
        attachment: fixed;
        color: $dark-purple;
        size: cover;
        position: center;
        repeat: no-repeat;
    }
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-height: calc(100vh - #{$desktop-header-cta-height});
    overflow: hidden;
    padding: $desktop-side-padding;
    transform: scale(1.125);
    transition: filter .6s ease-in-out, transform .6s ease-in-out;
    width: 100%;
    &.active {
        transform: scale(1);
    }
    /*
     * Animate elements
     */
    h1 {
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity .6s ease-in-out, transform .6s ease-in-out;
        @at-root .active#{&} {
            opacity: 1;
            transform: translateY(0px);
            transition-delay: .6s;
        }
        & ~ p {
            opacity: 0;
            transform: translateY(-50px);
            transition: opacity .6s ease-in-out, transform .6s ease-in-out;
            transition-delay: 1.2s;
            @at-root .active#{&} {
                opacity: 1;
                transform: translateY(0px);
            }
        }
        & ~ .btn {
            opacity: 0;
            transform: translateY(-50px);
            transition: opacity .6s ease-in-out, transform .6s ease-in-out;
            transition-delay: 1.8s;
            @at-root .active#{&} {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
    /*
     * .page-hero__outer
     */
    &__outer {
        margin: {
            top: -$header-height;
        }
        overflow: hidden;
    }
    /*
     * .page-hero__content
     */
    &__content {
        /*
         * .page-hero__content-main
         * margin bottom/top is set to auto so that flex will center it inside the container or align to the top if no space
         * Max width to stop the text being too long, but can start to scale down on smaller devices
         */
        &-main {
            margin: {
                bottom: auto;
                left: auto;
                right: auto;
                top: auto;
            }
            max-width: 734px; // To match mockup width
            text-align: center;
            h1,h2,h3,h4,h5,h6 {
                margin: {
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: $desktop-side-padding;
                }
                @media (min-width: $tablet-landscape-start) {
                    margin: {
                        top: 0;
                    }
                }
            }
            p {
                margin: {
                    left: auto;
                    right: auto;
                }
                max-width: 372px;
            }
        }
        /*
         * .page-hero__content-bottom
         * Small block at the bottom, bit of small print
         */
        &-bottom {
            align-items: flex-end;
            display: flex;
            flex-direction: column-reverse;
            margin: {
                left: auto;
                right: auto;
                top: 2em;
            }
            opacity: 0;
            transition: opacity .6s ease-in-out;
            transition-delay: 2.4s;
            text-align: center;
            width: 100%;
            .active & {
                opacity: 1;
            }
            @media (min-width: $tablet-landscape-start) {
                flex-direction: row;
                margin: {
                    top: 0;
                }
            }
            p {
                font: {
                    weight: 100;
                }
                text-transform: uppercase;
            }
            /*
             * .page-hero__content-bottom-cta
             * margin left to force to the left of the screen
             * width is to be 100% - double the video cta width
             */
            &-cta {
                width: 100%;
                @media (min-width: $tablet-landscape-start) {
                    margin: {
                        left: auto;
                    }
                    width: calc(100% - 420px);
                }
                /*
                 * .page-hero__content-bottom-cta-wrap
                 * This is to allow the hr element to be the same width as the content below
                 */
                &-wrap {
                    display: inline-block;
                }
            }
        }
    }
    /*
     * .page-hero__video-cta
     */
    &__video-cta {
        display: flex;
        justify-content: center;
        margin: {
            bottom: 2rem;
            left: auto;
            right: auto;
        }
        position: relative;
        width: 210px;
        @media (min-width: $tablet-landscape-start) {
            height: 0;
            margin: {
                bottom: 0;
                left: 0;
                right: 0;
            }
            justify-content: flex-end;
        }
        a {
            bottom: 0;
            display: block;
            right: 0;
            width: 100%;
            @media (min-width: $tablet-landscape-start) {
                position: absolute;
            }
        }
    }
}