/*
 * .page-modal
 * Full screen fixed element that goes over the top of everything else.
 * Flex container to allow elements to position themselves
 */
.page-modal {
    align-items: flex-start;
    background: {
        color: rgba($black,.8);
    }
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999; // Make sure it is above everything
    /*
     * .page-modal__wrapper
     * Height / Width is set to a 16:9 ratio
     */
    &__wrapper {
        height: 45vw;
        margin: auto; //Center if space, otherwise align with sides of page
        position: relative;
        width: 80vw;
        iframe {
            border: 0;
            height: 100%;
            width: 100%;
        }
    }
    /*
     * .page-modal__close
     * circle button with x in the middle
     */
    &__close {
        align-items: center;
        background: {
            color: $white;
        }
        border: 0;
        border-radius: 100%;
        box-shadow: 0 0 5px rgba($black,.8);
        color: $black;
        display: flex;
        height: 2rem;
        justify-content: center;
        line-height: 1;
        padding: 1em;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
    }
}