/*
 * .newsletter-row
 * Dark background, white text
 */
.newsletter-row {
    background: {
        color: $dark-purple;
    }
    color: $white;
    padding: {
        bottom: 70px;
        top: 70px;
    }
    position: relative;
    /*
     * .newsletter-row__container
     * position items centered in the container
     * stack on mobile, row on tablet / desktop
     */
    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet-portrait-start) {
            flex-direction: row;
        }
    }
    /*
     * .newsletter-row__content
     */
    &__content {
        margin: {
            left: 0;
            right: auto;
        }
        h2 {
            margin: {
                top: 0;
            }
        }
        p {
            color: $light-purple;
            font: {
                size: .875em;
            }
            max-width: 252px; // Width to match mockup
        }
    }
    /*
     * .newsletter-row__form
     * Flexbox to help with vertically centering
     * stack on mobile, row on tablet / desktop
     */
    &__form {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: {
            top: 50px;
        }
        width: 100%;
        @media (min-width: $tablet-portrait-start) {
            flex-direction: row;
            margin: {
                top: 0;
            }
            width: 50%;
        }
        label {
            flex: 1;
            width: 100%;
            /*
             * .newsletter-row__form:not(:last-child)
             * If not last child add margin to space it away
             */
            &:not(:last-child) {
                margin: {
                    bottom: 2em;
                }
                @media (min-width: $tablet-portrait-start) {
                    margin: {
                        bottom: 0;
                        right: $desktop-side-padding;
                    }
                }
            }
        }
        input {
            text-align: center;
            @media (min-width: $tablet-portrait-start) {
                text-align: left;
            }
        }
    }
}