/*
 * Set default box model for all browsers
 */
* {
    box-sizing: border-box;
}

/*
 * Body
 * Reset basic styles
 * Set basic font size / family / weight
 */
body {
    font: {
        family: 'Open Sans', sans-serif;
        size: 14px;
        weight: 400;
    }
    line-height: 1.5;
    margin: 0;
    padding: 0;
    @media (min-width: $tablet-landscape-start) {
        font: {
            size: 16px;
        }
    }
}

.blue {
    color: $blue;
}

img {
    height: auto;
    max-width: 100%;
}

/*
 * Used to wrap sections with a gradient
 */
.gradient-background-row {
    color: $white;
    margin: {
        bottom: -100px;
        top: 150px;
    }
    padding: {
        bottom: 170px;
    }
    position: relative;
    @media (min-width: $laptop-start) {
        padding: {
            top: 50px;
        }
    }
    > * {
        position: relative; //So that everything goes over the top of the background
    }
    &:before {
        background: {
            color: $purple;
            image: linear-gradient(90deg,$purple,$blue); //Probs would be better to use a svg, but this should work as well
        }
        bottom: -100px;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: -100px;
        transform: skewY(10deg)
    }
}

/*
 * .sr-only
 * Only show on screen readers
 */

.sr-only {
    @media only screen {
        display: none;
    }
}

/* 
 * .container
 * contain the element to 1069px wide, add side padding for when the screen width is less than this size
 */
.container {
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 1069px;
    padding: {
        left: $desktop-side-padding;
        right: $desktop-side-padding;
    }
    width: 100%;
}

.row {
    margin: {
        left: -$desktop-side-padding;
        right: -$desktop-side-padding;
    }
    width: calc(100% + 4em);
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex-basis: 100%;
        width: 100%;
        @media (min-width: $tablet-portrait-start) {
            flex-basis: calc(100% / 12 * #{$i});
            width: calc(100% / 12 * #{$i});
        }
    }
}

/*
 * Heading styles
 */

h3, .h3 {
    color: $dark-blue;
    font: {
        weight: 900;
    }
}
 
.h1-display {
    font: {
        family: 'Montserrat', sans-serif;
        size: 2em; //28px font-size
    }
    line-height: 1.16666667; // Line height 70px
    text-transform: uppercase;
    @media (min-width: $tablet-portrait-start) {
        font: {
            size: 3.75em; //60px font-size
        }
    }
}

.h2-display {
    font: {
        family: 'Montserrat', sans-serif;
        size: 3.125em; //50px font-size
    }
    line-height: 1;
    text-transform: uppercase;
    .outline-text {
        text-transform: none;
    }
}

/*
 * Base a tag styles
 * No underline unless hover
 */
a {
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

/*
 * List styles
 */

li {
    /*
     * li:not(:first-child)
     * If not first child then put margin top to space item
     */
    &:not(:first-child) {
        margin: {
            top: .5em;
        }
    }
}

/*
 * hr styles
 */

.faded-line {
    background: {
        image: linear-gradient(181deg,rgba($white,0),$white,rgba($white,0));
    }
    height: 1px;
    width: 100%;
}

/*
 * Inputs
 */

/*
 * input
 * border bottom, text over transparent background, small padding
 */
input {
    background: {
        color: transparent;
    }
    border: {
        bottom: 1px solid $white;
        left: 0;
        right: 0;
        top: 0;
    }
    color: $light-purple;
    font: {
        size: .875em; //Font size 14px;
    }
    outline: none;
    padding: 1rem 2rem;
    text-align: left;
    width: 100%;
    /*
     * input::placeholder
     */
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $light-purple;
        opacity: 1; /* Firefox */
    }
    /*
     * input::-ms-input-placeholder
     */
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $light-purple;
    }
    /*
     * input::-ms-input-placeholder
     */
    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $light-purple;
    }
}

/*
 * .outline-text
 * By default just style with inherit colour, if supported swap to transparent and use css text stroke
 */
.outline-text {
    color: inherit;
    @supports (-webkit-text-stroke-width: 1px) {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $black;
    }
    @supports (text-stroke-width: 1px) {
        color: transparent;
        text-stroke-width: 1px;
        text-stroke-color: $black;
    }
    /*
     * .outline-text__white
     */
    &__white {
        color: $white;
        @supports (-webkit-text-stroke-width: 1px) {
            color: transparent;
            -webkit-text-stroke-color: $white;
        }
        @supports (text-stroke-width: 1px) {
            color: transparent;
            text-stroke-color: $white;
        }
    }
    /*
     * .outline-text__blue
     */
    &__blue {
        color: $blue;
        @supports (-webkit-text-stroke-width: 1px) {
            color: transparent;
            -webkit-text-stroke-color: $blue;
        }
        @supports (text-stroke-width: 1px) {
            color: transparent;
            text-stroke-color: $blue;
        }
    }
}

/*
 * .content-row
 * Basic row for content blocks
 */
 .content-row {
    a {
        color: $blue;
    }
    figure {
        position: relative;
        /*
         * .content-row figure:before
         * Used to add square background
         */
        &:before {
            background: {
                color: $light-blue;
            }
            border-radius: 5px;
            content: '';
            display: block;
            height: 60%;
            left: 0%;
            position: absolute;
            top: 20%;
            transform: skew(0deg, -10deg); //Skew to give the slighted affect from the mockup
            width: 100%;
            @at-root .content-row .content-row__inner-swap figure:before { //If in swap row swap image side
                transform: skew(0deg, 10deg);
            }
        }
        img {
            position: relative;
        }
    }
    /*
     * .content-row__inner
     * Flex the items
     */
    &__inner {
        align-items: center;
        display: flex;
        flex-direction: column;
        @media (min-width: $tablet-portrait-start) {
            flex-direction: row;
        }
        > * {
            padding: $desktop-side-padding;
        }
        &-swap {
            @media (min-width: $tablet-portrait-start) {
                flex-direction: row-reverse;
            }
        }
    }
 }