$darkest-purple: #200D6F;
$dark-purple: #000095;
$purple: #7F3FD1;
$light-purple: #B3A7E3;

$pink: #F93B84;

$dark-blue: #2A4789;
$blue: #3B8EF9;
$light-blue: #F1F5FB;

$white: #fff;
$black: #000;

$header-height: 80px;
$desktop-header-cta-height: 60px;

$desktop-side-padding: 2em;

/*
 * Easing
 */
$easeInOutSine: cubic-bezier(0.37, 0, 0.63, 1);

/*
 * Screen sizes
 */
$tablet-portrait-start: 600px;
$before-tablet-landscape: 991px;
$tablet-landscape-start: 992px;
$laptop-start: 1200px;